# Copy this file to .env for local development. Do not commit .env.

SE_DATA_DIR1=./data/generated/dictionary
SE_DATA_DIR2=./data/generated/webpage
SE_CORPUS_DIR=./data/corpus
SE_STOPWORDS_DIR=./data/stopwords
SE_RAW_PAGES_DIR=./data/webpage
